:root {
  --main-darker: #130F1A;
  --main-dark: #1C1627;
  --main-light: #F6ECCB;
  --accent-soft: #B75D69;
  --accent-strong: #A63446;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--main-darker);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
